html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
/* :root{
    --accent-color: #2196F3; 
}*/
img {
    display: block;
    max-width: 100%;
    height: auto;

}

h1, h2, h3, p, a{
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    
    border: 1px solid red;
    /* border: 1px solid transparent; */
}

/* HEADER */
.logo{
    display: flex;
    padding: 20px 20px 20px 0 ;
    justify-content: space-around;

}
.header-nav{
    display: flex;
    align-items: center;
    background-color: rgb(88, 97, 102);
    
}
 .nav-list{
    display: inline-flex;
    justify-content: space-around;
}
.nav-list .link-header{
    display: block;
}

/* .link-header:hover{
    color: #fff;
} */

 .nav-list .item{
  padding: 20px 5px; 
 

}
.nav-list .item + .item{
    margin-left: 23px; 
}
.link-header.current{
     /* color: var(--accent-color);  */
     color: red;
}
.link-header:hover,
.link-header:focus{
   color: red;
    background-color:green;
    border-radius: 5px;
} 

.sub-menu{
    display: none;
      
}
.drop-down{
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 5px;
    background-color: royalblue;
}
.nav-list .item:hover .sub-menu,
.nav-list .item:focus .sub-menu{
    display: block;
    position: absolute;
    
    margin-top: 20px;
    margin-left: -5px;
} 

.nav-list .item:hover  .drop-down:hover,
.nav-list .item:focus  .drop-down:focus{
background-color:  red;
color: #fff;
}
